### Importing required libraries

In [7]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score, mean_absolute_error, mean_squared_error

### Reading in the dataset

In [5]:
df = pd.read_csv('data/cleaned_grit_data.csv')
df.head()

,index,country,surveyelapse,GS1,GS2,GS3,GS4,GS5,GS6,GS7,...,operatingsystem,browser,introelapse,testelapse,Extraversion,Neuroticism,Agreeableness,Conscientiousness,Openness,Grit
0,4,JP,340,5,2,3,3,2,4,2,...,Windows,Firefox,3,337,1.2,2.5,3.3,3.8,3.0,3.083333
1,6,US,126,4,1,3,2,1,5,1,...,Windows,Chrome,36,212,4.0,2.0,3.6,3.4,5.0,2.583333
2,8,EU,130,5,3,3,5,4,5,5,...,Windows,Microsoft Internet Explorer,14,183,4.4,4.5,4.7,4.0,4.3,4.250000
3,10,AE,592,5,3,3,2,4,3,3,...,Windows,Chrome,726,311,3.0,4.6,3.6,3.8,3.4,3.166667
4,11,AU,217,3,1,1,2,1,3,1,...,Windows,Firefox,376,407,2.0,1.1,3.4,3.9,4.4,2.000000

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2200 entries, 0 to 2199
Data columns (total 100 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   index              2200 non-null   int64
 1   country            2200 non-null   object
 2   surveyelapse       2200 non-null   int64
 3   GS1                2200 non-null   int64
 4   GS2                2200 non-null   int64
 5   GS3                2200 non-null   int64
 6   GS4                2200 non-null   int64
 7   GS5                2200 non-null   int64
 8   GS6                2200 non-null   int64
 9   GS7                2200 non-null   int64
 10  GS8                2200 non-null   int64
 11  GS9                2200 non-null   int64
 12  GS10               2200 non-null   int64
 13  GS11               2200 non-null   int64
 14  GS12               2200 non-null   int64
 15  VCL1               2200 non-null   int64
 16  VCL2               2200 non-null   int64
 17  VCL3               2200 non-null   int64
 18  VCL4               2200 non-null   int64
 19  VCL5               2200 non-null   int64
 20  VCL7               2200 non-null   int64
 21  VCL8               2200 non-null   int64
 22  VCL10              2200 non-null   int64
 23  VCL11              2200 non-null   int64
 24  VCL13              2200 non-null   int64
 25  VCL14              2200 non-null   int64
 26  VCL15              2200 non-null   int64
 27  VCL16              2200 non-null   int64
 28  education          2181 non-null   object
 29  urban              2175 non-null   object
 30  gender             2197 non-null   object
 31  engnat             2189 non-null   object
 32  age                2200 non-null   int64
 33  hand               2193 non-null   object
 34  religion           2172 non-null   object
 35  orientation        2145 non-null   object
 36  race               2183 non-null   object
 37  voted              2184 non-null   object
 38  married            2192 non-null   object
 39  familysize         2200 non-null   int64
 40  E1                 2200 non-null   int64
 41  E2                 2200 non-null   int64
 42  E3                 2200 non-null   int64
 43  E4                 2200 non-null   int64
 44  E5                 2200 non-null   int64
 45  E6                 2200 non-null   int64
 46  E7                 2200 non-null   int64
 47  E8                 2200 non-null   int64
 48  E9                 2200 non-null   int64
 49  E10                2200 non-null   int64
 50  N1                 2200 non-null   int64
 51  N2                 2200 non-null   int64
 52  N3                 2200 non-null   int64
 53  N4                 2200 non-null   int64
 54  N5                 2200 non-null   int64
 55  N6                 2200 non-null   int64
 56  N7                 2200 non-null   int64
 57  N8                 2200 non-null   int64
 58  N9                 2200 non-null   int64
 59  N10                2200 non-null   int64
 60  A1                 2200 non-null   int64
 61  A2                 2200 non-null   int64
 62  A3                 2200 non-null   int64
 63  A4                 2200 non-null   int64
 64  A5                 2200 non-null   int64
 65  A6                 2200 non-null   int64
 66  A7                 2200 non-null   int64
 67  A8                 2200 non-null   int64
 68  A9                 2200 non-null   int64
 69  A10                2200 non-null   int64
 70  C1                 2200 non-null   int64
 71  C2                 2200 non-null   int64
 72  C3                 2200 non-null   int64
 73  C4                 2200 non-null   int64
 74  C5                 2200 non-null   int64
 75  C6                 2200 non-null   int64
 76  C7                 2200 non-null   int64
 77  C8                 2200 non-null   int64
 78  C9                 2200 non-null   int64
 79  C10                2200 non-null   int64
 80  O1                 2200 non-null   int64
 81  O2                 2200 non-null   int64
 82  O3                 2200 non-null   int64
 83  O4                 2200 non-null   int64
 84  O5                 2200 non-null   int64
 85  O6                 2200 non-null   int64
 86  O7                 2200 non-null   int64
 87  O8                 2200 non-null   int64
 88  O9                 2200 non-null   int64
 89  O10                2200 non-null   int64
 90  operatingsystem    2200 non-null   object
 91  browser            2200 non-null   object
 92  introelapse        2200 non-null   int64
 93  testelapse         2200 non-null   int64
 94  Extraversion       2200 non-null   float64
 95  Neuroticism        2200 non-null   float64
 96  Agreeableness      2200 non-null   float64
 97  Conscientiousness  2200 non-null   float64
 98  Openness           2200 non-null   float64
 99  Grit               2200 non-null   float64
dtypes: float64(6), int64(81), object(13)
memory usage: 1.7+ MB

### Splitting the data into Train and Test splits

In [8]:
X = df[['Openness', 'Conscientiousness', 'Extraversion', 'Agreeableness', 'Neuroticism']]
y = df['Grit']

In [19]:
X.head()

   Openness  Conscientiousness  Extraversion  Agreeableness  Neuroticism
0       3.0                3.8           1.2            3.3          2.5
1       5.0                3.4           4.0            3.6          2.0
2       4.3                4.0           4.4            4.7          4.5
3       3.4                3.8           3.0            3.6          4.6
4       4.4                3.9           2.0            3.4          1.1

In [20]:
y.head()

0    3.083333
1    2.583333
2    4.250000
3    3.166667
4    2.000000
Name: Grit, dtype: float64

In [17]:
print("X shape: ", X.shape)
print("y shaep: ", y.shape)

X shape:  (2200, 5)
y shaep:  (2200,)

In [11]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [18]:
print("X_train shape: ", X_train.shape)
print("y_train shape: ", y_train.shape)
print("X_test shape: ", X_test.shape)
print("y_test shape: ", y_test.shape)

X_train shape:  (1760, 5)
y_train shape:  (1760,)
X_test shape:  (440, 5)
y_test shape:  (440,)

We are going to test the data on baseline models. The models we will be using are:

1. Mean model
2. Median model
3. Simple Linear Regresssion

The metrics we will be using are R2, MAE, MSE.

In [9]:
def evaluate_model(true, pred, name):
    print(f"{name} Model Results")
    print(f"RÂ²  : {r2_score(true, pred):.4f}")
    print(f"MAE : {mean_absolute_error(true, pred):.4f}")
    print(f"MSE : {mean_squared_error(true, pred):.4f}")

### Mean model

In [12]:
mean_pred = np.full(shape=y_test.shape, fill_value=y_train.mean())

evaluate_model(y_test, mean_pred, "Mean Baseline")

Mean Baseline Model Results
RÂ²  : -0.0003
MAE : 0.5718
MSE : 0.4743

### Median model

In [13]:
median_pred = np.full(shape=y_test.shape, fill_value=y_train.median())

evaluate_model(y_test, median_pred, "Median Baseline")

Median Baseline Model Results
RÂ²  : -0.0060
MAE : 0.5718
MSE : 0.4770

### Linear Regression

In [14]:
lr = LinearRegression()
lr.fit(X_train, y_train)
lr_pred = lr.predict(X_test)

In [15]:
evaluate_model(y_test, lr_pred, "Linear Regression")

Linear Regression Model Results
RÂ²  : 0.4855
MAE : 0.3951
MSE : 0.2440

The baseline modeling results provide an initial understanding of how well grit can be predicted using simple statistical approaches. Both the mean and median models performed poorly, with negative R2 values and identical error scores, indicating that these models are unable to capture any meaningful variation in grit scores across individuals. In contrast, the linear regression model, which used the Big Five personality traits as predictors, showed a substantial improvement, achieving an R2 of approximately 0.49 and significantly lower MAE and MSE values. This suggests that nearly half of the variability in grit can be explained by personality traits alone, with traits such as conscientiousness likely playing a strong role, which is observed from our EDA. Overall, these results confirm that while trivial models offer no predictive value, linear regression provides a meaningful baseline and justifies moving forward with more advanced modeling techniques to further improve prediction and understand underlying relationships.

### Using only 'Conscientiousness' in the linear model to see its impact

In [21]:
X = df[[ 'Conscientiousness']]
y = df['Grit']

In [22]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [23]:
lr = LinearRegression()
lr.fit(X_train, y_train)
lr_pred = lr.predict(X_test)

In [24]:
evaluate_model(y_test, lr_pred, "Linear Regression")

Linear Regression Model Results
RÂ²  : 0.4278
MAE : 0.4243
MSE : 0.2713

We can see that the other traits do contribute to the model's performance. We will be considering them all the personality traits in out main model or analyze them more later on.