# Importing Required Libraries for Data Preparation

In [8]:
import pandas as pd
import numpy as np

## Loading dataset and Examining Structure

In [15]:
df = pd.read_csv('data/gritdata.csv', delimiter = '\t')
df.head()
# changed delimiter to tab

,country,surveyelapse,GS1,GS2,GS3,GS4,GS5,GS6,GS7,GS8,...,O7,O8,O9,O10,operatingsystem,browser,screenw,screenh,introelapse,testelapse
0,RO,174,1,1,3,3,3,2,3,1,...,5,4,5,4,Windows,Chrome,1366,768,69590,307
1,US,120,2,2,3,3,2,1,3,3,...,4,3,4,5,Macintosh,Chrome,1280,800,33657,134
2,US,99,3,3,3,3,4,3,4,4,...,5,5,4,4,Windows,Firefox,1920,1080,95550,138
3,KE,5098,1,3,4,2,4,1,5,4,...,4,2,5,4,Windows,Chrome,1600,900,4,4440
4,JP,340,1,2,3,3,2,2,2,4,...,4,1,3,2,Windows,Firefox,1920,1080,3,337

In [18]:
df.shape
# (row, col)

(4270, 98)

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4270 entries, 0 to 4269
Data columns (total 98 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   country          4226 non-null   object
 1   surveyelapse     4270 non-null   int64
 2   GS1              4270 non-null   int64
 3   GS2              4270 non-null   int64
 4   GS3              4270 non-null   int64
 5   GS4              4270 non-null   int64
 6   GS5              4270 non-null   int64
 7   GS6              4270 non-null   int64
 8   GS7              4270 non-null   int64
 9   GS8              4270 non-null   int64
 10  GS9              4270 non-null   int64
 11  GS10             4270 non-null   int64
 12  GS11             4270 non-null   int64
 13  GS12             4270 non-null   int64
 14  VCL1             4270 non-null   int64
 15  VCL2             4270 non-null   int64
 16  VCL3             4270 non-null   int64
 17  VCL4             4270 non-null   int64
 18  VCL5             4270 non-null   int64
 19  VCL6             4270 non-null   int64
 20  VCL7             4270 non-null   int64
 21  VCL8             4270 non-null   int64
 22  VCL9             4270 non-null   int64
 23  VCL10            4270 non-null   int64
 24  VCL11            4270 non-null   int64
 25  VCL12            4270 non-null   int64
 26  VCL13            4270 non-null   int64
 27  VCL14            4270 non-null   int64
 28  VCL15            4270 non-null   int64
 29  VCL16            4270 non-null   int64
 30  education        4270 non-null   int64
 31  urban            4270 non-null   int64
 32  gender           4270 non-null   int64
 33  engnat           4270 non-null   int64
 34  age              4270 non-null   int64
 35  hand             4270 non-null   int64
 36  religion         4270 non-null   int64
 37  orientation      4270 non-null   int64
 38  race             4270 non-null   int64
 39  voted            4270 non-null   int64
 40  married          4270 non-null   int64
 41  familysize       4270 non-null   int64
 42  E1               4270 non-null   int64
 43  E2               4270 non-null   int64
 44  E3               4270 non-null   int64
 45  E4               4270 non-null   int64
 46  E5               4270 non-null   int64
 47  E6               4270 non-null   int64
 48  E7               4270 non-null   int64
 49  E8               4270 non-null   int64
 50  E9               4270 non-null   int64
 51  E10              4270 non-null   int64
 52  N1               4270 non-null   int64
 53  N2               4270 non-null   int64
 54  N3               4270 non-null   int64
 55  N4               4270 non-null   int64
 56  N5               4270 non-null   int64
 57  N6               4270 non-null   int64
 58  N7               4270 non-null   int64
 59  N8               4270 non-null   int64
 60  N9               4270 non-null   int64
 61  N10              4270 non-null   int64
 62  A1               4270 non-null   int64
 63  A2               4270 non-null   int64
 64  A3               4270 non-null   int64
 65  A4               4270 non-null   int64
 66  A5               4270 non-null   int64
 67  A6               4270 non-null   int64
 68  A7               4270 non-null   int64
 69  A8               4270 non-null   int64
 70  A9               4270 non-null   int64
 71  A10              4270 non-null   int64
 72  C1               4270 non-null   int64
 73  C2               4270 non-null   int64
 74  C3               4270 non-null   int64
 75  C4               4270 non-null   int64
 76  C5               4270 non-null   int64
 77  C6               4270 non-null   int64
 78  C7               4270 non-null   int64
 79  C8               4270 non-null   int64
 80  C9               4270 non-null   int64
 81  C10              4270 non-null   int64
 82  O1               4270 non-null   int64
 83  O2               4270 non-null   int64
 84  O3               4270 non-null   int64
 85  O4               4270 non-null   int64
 86  O5               4270 non-null   int64
 87  O6               4270 non-null   int64
 88  O7               4270 non-null   int64
 89  O8               4270 non-null   int64
 90  O9               4270 non-null   int64
 91  O10              4270 non-null   int64
 92  operatingsystem  4270 non-null   object
 93  browser          4270 non-null   object
 94  screenw          4270 non-null   int64
 95  screenh          4270 non-null   int64
 96  introelapse      4270 non-null   int64
 97  testelapse       4270 non-null   int64
dtypes: int64(95), object(3)
memory usage: 3.2+ MB

In [11]:
df.isna().sum()

country         44
surveyelapse     0
GS1              0
GS2              0
GS3              0
                ..
browser          0
screenw          0
screenh          0
introelapse      0
testelapse       0
Length: 98, dtype: int64

44 rows in the data have null values in the column "country". We plan to add another column with boolean (0 and 1) to communicate whether the row's country column has a value.

In [13]:
df.duplicated().sum()

np.int64(0)

There are no duplicates in our data.

In [30]:
# getting the columns of gritScore cols (GS1-GS12)
gritColumns = df.iloc[:,2:14].columns
print(gritColumns)

Index(['GS1', 'GS2', 'GS3', 'GS4', 'GS5', 'GS6', 'GS7', 'GS8', 'GS9', 'GS10',
       'GS11', 'GS12'],
      dtype='object')

In [31]:
# summing up the count of all missing data from Grit Scores
print((df[gritColumns] == 0).sum())

GS1     10
GS2     14
GS3     12
GS4     34
GS5     11
GS6     14
GS7     14
GS8     10
GS9      9
GS10    15
GS11    15
GS12    25
dtype: int64

There are the amount of missing grit scores

In [24]:
# getting the columns of the Big 5 Personality Test 
bigPersonalities = df.iloc[:,42:92].columns
print(bigPersonalities)

Index(['E1', 'E2', 'E3', 'E4', 'E5', 'E6', 'E7', 'E8', 'E9', 'E10', 'N1', 'N2',
       'N3', 'N4', 'N5', 'N6', 'N7', 'N8', 'N9', 'N10', 'A1', 'A2', 'A3', 'A4',
       'A5', 'A6', 'A7', 'A8', 'A9', 'A10', 'C1', 'C2', 'C3', 'C4', 'C5', 'C6',
       'C7', 'C8', 'C9', 'C10', 'O1', 'O2', 'O3', 'O4', 'O5', 'O6', 'O7', 'O8',
       'O9', 'O10'],
      dtype='object')

In [27]:
# summing up the count of all missing data from Big 5 Personality Test
print((df[bigPersonalities] == 0).sum())

E1      9
E2      9
E3     10
E4     18
E5     17
E6      6
E7     20
E8      5
E9      9
E10     5
N1      9
N2     12
N3     10
N4     18
N5      7
N6     13
N7     13
N8     11
N9      9
N10    13
A1     10
A2     13
A3      9
A4     15
A5     12
A6     19
A7      8
A8      9
A9      8
A10    15
C1     12
C2     13
C3      7
C4     15
C5     11
C6     12
C7      9
C8     17
C9     11
C10    21
O1      9
O2     17
O3     17
O4     17
O5     10
O6     18
O7     13
O8     11
O9     12
O10    15
dtype: int64